<div class="jumbotron">
  <h1>Please Choose One</h1>

  <%= link_to "I am a Farmer", { controller: "farmers", action: "index" }, class: 'linkbutton' %>
  
  <%= link_to "I am a Helper", { controller: "helpers", action: "new" }, class: 'linkbutton' %>
</div>