<h1>WHAT IT'S ABOUT</h1>

<p>Due to the borders closing, lack of seasonal workers are a huge concern for the food supply and the economy of Switzerland, Europe and USA. In addition, the coronavirus crisis has left many local workers without employment and stuck at home.</p>

<p>CropConnect helps to establish a connection between individuals and local farmers.</p>

<p>If you are a farmer seeking help, you can create a task on our website where you put the kind of help needed,the location of your farm, the dates and if special skills are needed.</p>

<p>Your newly created task will be visible for local volunteers in a radius of 20 km of your farm -to avoid the spreading of the virus.</p>

<p>You can also propose a travel stipend and fresh hand picked produce as compensation for volunteers.</p>

<p>You never know, maybe you will connect with new good workers in your community and possibly offer them a paid job thanks to Cropconnect.</p>

<p>So, what are you waiting for? click on Create a new task below and get started!</p>

<%= link_to "Create a New Task", { controller: "farmers", action: "new" }, class: 'linkbutton' %>