@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

$white: white;
$black: black;
$green: green;
$very_light_green: #ebfff4;

.app_footer {
        background: $very_light_green;
}
.app_header {
        background: $very_light_green;
}
.header_link {
        float: right;
        padding: 8px;
        font-size: large;
        vertical-align:middle;
}
.navbar {
        margin-bottom: 0;
        background: $black;
}
body {
        height: 100%;
        background: $white;
        color: $black;
        font-family: 'Merriweather', sans-serif;
}
h1,
h2 {
        font-weight: bold;
}
p {
        font-size: 16px;
        color: $black;
}
.linkbutton,
.linkbutton:visited {
        padding:5px;
        background-color: #dcdcdc;
        border: 1px solid #666;
        color: $black;
        text-decoration:none;
}
.linkbutton:hover {
        background-color: $green;
        text-decoration:none;
}
.jumbotron {
        background: $white;
        color: $black;
        text-align: center;
        p {
                color: $black;
                font-size: 26px;
        }
}
.link {
        color: $black;
}
.btn-primary {
        color: $black;
        border-color: $black;
        margin-bottom: 5px;
        padding:5px;
        background-color: #dcdcdc;
        border: 1px solid #666;
        color:#000;
        text-decoration:none;
}
.btn-sm {
        background-color: $black;
        display: inline-block;
}

img,
video,
audio {
        margin-top: 20px;
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 8px;
        max-width: 80%;
}
caption {
        float: left;
        clear: both;
}
footer {
position:absolute;
   bottom:0;
   width:100%;
   height:60px;
   background: $white;
}
.content {
        max-width: 1000px;
        margin: auto;
}